* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", "Segoe UI", sans-serif;
  background: #f4f6f8;
  color: #2c2c2c;
}

button {
  cursor: pointer;
  border: none;
  font-size: 14px;
}

input {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

input:focus {
  outline: none;
  border-color: #2563eb;
}
